:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  height: 100vh;
  background-image: linear-gradient(to top,rgb(225, 212, 253),rgb(255, 242, 242));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hidden{
  display: none;
}

.btn{
  width: 5.5em;
  height: 1.45em;
  padding-top: 0.2rem;
  color: rgb(137, 124, 249);
  background-color: transparent;
  font-size: 6rem;
  border: 2px solid rgb(137, 124, 249);
  border-radius: 12px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover{
  color: #fff;
  background-color: rgb(137, 124, 249);
}

.container{
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner{
  font-size: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */


.header{
  font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0 6rem 0;
	color: #1a1a1a;
}

/* TIMER */

.timer{
  padding-top: 12rem;
}

.timer .inner .timer__time{
  padding-bottom:14rem;
  width: 100rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.timer .inner .timer__time span{
  display: block;
  width: 13.5rem;
  margin:0 2rem;
  text-align: center;
}

.timer .inner .timer__controler{
  display: flex;
  gap: 20px;
}


/* CLOCK */

.clock{
  padding-top: 15.5em;
}

.clock .time{
  font-size: 1.5em;
  padding-bottom: 0.6em;
}

.clock .blink{
  animation: blinking 1s step-end infinite;
}

@keyframes blinking {
  50%{
    opacity: 0;
  }
}

.clock .days{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock .days .date{
  font-size: 0.7em;
  padding-bottom: 0.35em;
}

.clock .days .day{
  font-size: 0.85em;
}



/* TODO-LIST */
.todo{

}
.todo .heading{
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.todo .inner{
  
}

.todo form{
  display: flex;
}

.todo form input{
  padding: 2.2rem 0.8rem;
  background: transparent;
  font-size: 3rem;
  width: 14em;
  height: 1.2em;
  border: none;
  border-bottom: 2px solid rgb(137, 124, 249);
}

.todo form input:focus{
  outline: none;
}

.todo form input:focus::placeholder{
  opacity: 0;
} 

.todo form button{
  cursor: pointer;
  font-size: 2rem;
  width: 4em;
  color: rgb(137, 124, 249);
  border: 2px solid rgb(137, 124, 249);
  background: transparent;
  transition: .2s;
}

.todo form button:hover{
  color: #fff;
  background: rgb(137, 124, 249);
}

.todo-list{
  font-size: 3rem;
  width: 20em;
  height: 13em; 
  font-weight: 600;
  margin-top: 1.4em;
  padding:0 .4em 0 .4em;
  overflow: auto;
}

.todo-list .task{
  list-style: circle;
}

.todo-list .task li{
  list-style: none;
  line-height: 1.4em;
  padding-bottom: 0.65em;
}

.todo-list .task li input[type="checkbox"]{
  width: 1.4em;
  height: 1.4em;
}

.todo-list .task li span{
  margin-left: 0.5em;
}

.task button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* NAV MENU */
