.cal-clock-container {
  width: 500px;
  height: 400px;
  background-color: blueviolet;
}

.cal-clock-container .calendar-box {
  width: 300px;
  height: 200px;
  background-color: blue;
}

.cal-clock-container .clock-box {
  width: 300px;
  height: 300px;
  background-color: #fff;
  font-size: 30px;
}
.cal-clock-container .clock-box .title {
  width: 200px;
  height: 100px;
  color: red;
}
.cal-clock-container .clock-box .clock-wrap {
  display: flex;
  height: 100px;
  width: 100px;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-start infinite;
}
