.stopwatch-box {
  width: 300px;
  height: 200px;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* 정가운데 정렬 */
  position: absolute;
  top: 25%;
  left: 10%;
}

.stopwatch-box .timer {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.stopwatch-box .button-wrap {
  display: flex;
}
.stopwatch-box .button-wrap .button-item {
  width: 40px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px black;
}
.stopwatch-box .button-wrap .button-item:active {
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}
