.todo-container {
  width: var(--box-width);
  height: var(--box-height);
  border: var(--box-border);
  background-color: var(--blue-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.todo-container .todo-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.todo-container .todo-txt {
  width: 300px;
  height: 40px;
  font-family: var(--font-type);
  padding-left: 6px;
  border-radius: 10px;
  border: var(--box-border);
}
.todo-container .todo-txt:focus {
  outline: none;
  cursor: pointer;
}

.todo-container .todo-btn {
  width: 60px;
  height: 20px;
  font-family: var(--font-type);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.todo-container .todo-btn:hover {
  background-color: var(--nav-color);
  color: #fff;
}

.todo-container .todo-list {
  margin: 20px 40px;
}
.todo-container .todo-list li {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.todo-container .todo-list button:hover {
  background-color: var(--nav-color);
  color: #fff;
}
